<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <% include ../partials/home %>
    </head>
    <body class="container">
        <main>
        <div class="container">
            <div class="well well-sm no-color" style="border-bottom: 0px">
                <strong>Modo de Exibição</strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                    </span>Lista</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Gride</a>
                </div>
            </div>
            <div id="products" class="row list-group">
            <% presentations.forEach(function(p) { %>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="<%= p.preview %>" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                        <b> Título: </b>    <%= p.title %></h4>
                        <p class="group inner list-group-item-text">
                            <%= p.size %> <% if(p.size > 1){ %>
                                               Páginas</p>
                                            <% } else { %>
                                               Página</p>
                                             <% } %>
                        <% if(p.rate > 0){ %>
                            <%= (p.rate).toFixed(1) %></h4><i class="glyphicon glyphicon-star-empty"></i>
                        <% } else { %>
                            Não avaliado
                        <% } %>
                        <div class="row">
                            <div class="col-xs-12 " style="padding: 10px 90px">
                                <a href="#"> <img class="viewBtn" id="<%= p.id %>" src="./img/ver.png" style="width: 100%"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <div id="watchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <img id="pageView"class="img-responsive center-block img-thumbnail" src="">
                            </div>
                        </div>
                        <div class="navigation-controls  row-fluid">
                            <div class="col-md-3">
                                <button id="prev" type="button" class="disabled btn btn-success btn-block">Anterior</button>
                            </div>
                            <div class="col-md-6 text-center">
                                <h4><span id="currentPage">X</span>/<span id="numOfPages">X</span></h4>
                            </div>
                            <div class="col-md-3">
                                <button id="next" type="button" class="disabled btn btn-success btn-block">Próximo</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveTitle" type="button" class="btn btn-default" data-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    </main>
    <% include ../partials/common_script %>
    <script type="text/javascript" src="/js/select.js"></script>
</body>
</html>